.list-year {
    display: flex;
    position: relative;
    align-items: baseline;
}

.list-year > strong {
    padding-right: 1rem;
    width: 5rem;
    text-align: right;
}

.list-year.descending {
    margin-left: auto;
}

.list-year > div {
    flex: 1;
    line-height: 2;
}

.list-month > summary {
    padding: 1ex 0;
    list-style: none;
}

.list-month > summary::after {
    margin-left: 1ex;
}

.list-day a {
    padding: 1ex 0 0;
    width: 100%;
}

.has-pre::before,
.has-post::after,
.has-desc:after {
    display: inline-block;
    color: var(--mid);
    font-size: 0.9em;
    font-weight: normal;
    content: attr(aria-description);
}

.list-day a.has-pre::before {
    position: absolute;
    left: -5rem;
    padding-top: 0.42em;
    width: 4rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 0.7em;
}

.list-day li,
#taxonomy li {
    margin: 0 0 1rem;
}

#feed h1,
#taxonomy h1,
#taxonomy > section {
    margin-bottom: 3.14rem;
}

.has-cover,
#taxonomy section,
#taxonomy > div > ul > li {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 1.618pc;
}

#taxonomy section > h2,
#taxonomy > div > ul > li {
    align-self: start;
    margin: 0 0 2rem;
    font-size: var(--Large);
}

#taxonomy section > h2 > a,
#taxonomy > div > ul > li > a {
    letter-spacing: 0.1ex;
    color: var(--fg);
    font-variant: all-small-caps;
}

#taxonomy li ul a {
    font-size: var(--normalsize);
}

#list-tags li a::before {
    content: '#';
}

/*  */

.has-cover {
    grid-template-columns: auto auto;
}

.hero__content nav ul {
    display: flex;
    gap: 1ex;
}

.hero__content nav ul a {
    padding: 1ex;
    color: var(--fg);
    font-size: 1.618rem;
}